Repository yarnaimo/next-typed-pages: changes, and which lefthook commands are due for each by the changed paths.
All: package-json, js, others

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    package-json:
      glob: 'package.json'
      run: yarn sort-package-json {staged_files} && git add {staged_files}
    js:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    others:
      glob: '*.{json,css,scss,md}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

add createRoutes
  src/__tests__/create-routes.test.ts
  src/create-routes.ts
  src/index.ts
  src/symbols.ts
  src/types.ts
  src/utils.ts
Due: js

v0.0.1
  package.json
Due: package-json, others

rename to next-typed-path
  package.json
Due: package-json, others

add readme
  README.md
Due: others

fix path for `/` page
  src/__tests__/create-routes.test.ts
  src/create-routes.ts
Due: js

v0.0.2
  package.json
Due: package-json, others

upgrade deps
  package.json
  yarn.lock
Due: package-json, others

use `[id]` style key for dynamic routes
  src/__tests__/create-routes.test.ts
  src/create-routes.ts
  src/symbols.ts
  src/types.ts
  src/utils.ts
Due: js

v0.1.0
  package.json
Due: package-json, others

module: commonjs
  tsconfig.json
Due: others

v0.1.1
  package.json
Due: package-json, others

update readme
  README.md
Due: others

fix readme
  README.md
Due: others

add isSubpath function
  src/__tests__/create-routes.test.ts
  src/create-routes.ts
  src/symbols.ts
  src/types.ts
Due: js

v0.2.0
  package.json
Due: package-json, others

improve type of index symbol value
  src/create-routes.ts
  src/types.ts
Due: js

auto generate
  package.json
  src/bin/cli.ts
  src/bin/commands/__snapshots__/generate.test.ts.snap
  src/bin/commands/generate.test.ts
  src/bin/commands/generate.ts
  src/bin/main.ts
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/users/[userId]/index.tsx
  src/pages/users/[userId]/posts/[postId].tsx
  src/pages/users/_middleware.ts
  src/pages/users/index.tsx
  yarn.lock
Due: package-json, js, others

v0.2.1
  package.json
Due: package-json, others

defaultExport option
  src/bin/cli.ts
  src/bin/commands/__snapshots__/generate.test.ts.snap
  src/bin/commands/generate.test.ts
  src/bin/commands/generate.ts
Due: js

v0.2.2
  package.json
Due: package-json, others

rename to next-typed-pages
  README.md
  package.json
  src/__tests__/create-routes.test.ts
  src/__tests__/nextPages.test.ts
  src/bin/cli.ts
  src/bin/commands/__snapshots__/generate.test.ts.snap
  src/bin/commands/generate.test.ts
  src/bin/commands/generate.ts
  src/index.ts
  src/nextPages.ts
Due: package-json, js, others

v0.3.0-0
  package.json
Due: package-json, others

v0.3.0
  package.json
Due: package-json, others

usePagesRouter
  .eslintrc.js
  README.md
  package.json
  src/__tests__/nextPages.test.ts
  src/bin/cli.ts
  src/bin/commands/__snapshots__/generate.test.ts.snap
  src/bin/commands/generate.test.ts
  src/bin/commands/generate.ts
  src/nextPages.ts
  src/types.ts
  yarn.lock
Due: package-json, js, others

v0.3.1
  package.json
Due: package-json, others

add [key: string]: string to query type
  src/nextPages.ts
  src/types.ts
Due: js

v0.3.2
  package.json
Due: package-json, others

add [key: string]: string to query type
  src/types.ts
Due: js

v0.3.3
  package.json
Due: package-json, others

support catch all routes
  src/__tests__/nextPages.test.ts
  src/nextPages.ts
  src/types.ts
  src/utils.ts
Due: js

source.organizeImports: true
  .vscode/settings.json
Due: others

v0.4.0
  package.json
Due: package-json, others
